
ion-col {
    text-align: center;
}

.section {
    font-size: 1.2rem;
    font-family: "Orbitron";
    color: white;

}

.card-image {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}

.price { 
    font-size: 1rem;
    color: antiquewhite;
}

.hover {
    color: white;
    font-size: 1rem;
}

.hover:hover {
   color: rgb(161, 229, 238);
}

.color {
    background-color: #000f2a;
}





